<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Button Test</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://kit.fontawesome.com/ca00cc0bc3.js" crossorigin="anonymous"></script>
    <style>
      body {
        background-color: #DDD;
      }
      .collectible {
        display: inline-block;
        vertical-align: bottom;
        margin-bottom: 1em;
      }
      .collectible img {
        background-color: white;
        box-sizing: border-box;
        max-width: 300px;
      }
    </style>
  </head>
  <body>
    <div style="max-width: 1200px; margin: 0 auto; text-align: center;">
      <h1>Button Test</h1>
      <div class="collectible">
        <img src="/knuckle.png" />
        <br />
      </div>
      <div class="collectible">
        <img src="/buffet.png" />
        <br />
      </div>
      <div class="collectible">
        <img src="/train.png" />
        <br />
      </div>
      <div class="collectible">
        <img src="/car.png" />
        <br />
      </div>
      <div class="collectible">
        <img src="/wall.png" />
        <br />
      </div>
      <div class="collectible">
        <img src="/statue.png" />
        <br />
      </div>
      <div class="collectible">
        <img src="/flower.png" />
        <br />
      </div>
      <div class="collectible">
        <img src="/veggies.png" />
        <br />
      </div>
      <div class="collectible">
        <img src="/bowl.png" />
        <br />
      </div>
      <br />
      <br />
    </div>
  </body>
</html>
