.cent-manage-button {
  font: 600 12px / 14px Helvetica, sans-serif;
  vertical-align: middle;
  text-align: center;
  text-indent: 0;
  background-color: #02ECA1;
  color: black;
  cursor: pointer;
  padding: 8px 14px;
  border-radius: 500px;
  background-clip: padding-box;
  border: 2px solid transparent;
  transition: border .5s, opacity .5s;
  position: absolute;
  z-index: 8675310;
}

.cent-mint-button {
  font: 600 12px / 14px Helvetica, sans-serif;
  vertical-align: middle;
  text-align: center;
  text-indent: 0;
  background-color: #D92D20;
  color: white;
  cursor: pointer;
  padding: 8px 14px;
  border-radius: 500px;
  background-clip: padding-box;
  border: 2px solid transparent;
  transition: border .5s, opacity .5s;
  position: absolute;
  z-index: 8675310;
}

.cent-exit-button {
  font: 600 12px / 14px Helvetica, sans-serif;
  vertical-align: middle;
  text-align: center;
  text-indent: 0;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 8px 14px;
  border-radius: 500px;
  background-clip: padding-box;
  border: 2px solid transparent;
  transition: border .5s, opacity .5s;
  position: fixed;
  top: 12px;
  right: 12px;
  z-index: 8675310;
}

.cent-exit-logo {
	position: absolute;
	top: 2px;
	left: 5px;
	height: 24px;
	border-radius: 500px;
}

.cent-collect-button {
  font: 600 12px / 14px Helvetica, sans-serif;
  vertical-align: middle;
  text-align: center;
  text-indent: 0;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 8px 14px;
  border-radius: 500px;
  background-clip: padding-box;
  border: 2px solid black;
  transition: border .5s, opacity .5s;
  position: absolute;
  z-index: 8675310;
}

.cent-exclusive-content-banner {
  height: 100%;
  width: 100%;
  position: relative;
}

.cent-exclusive-content-banner__container {
  position: absolute;
  height: 40px;
  cursor: pointer;
}

.cent-exclusive-content-banner__bg {
  opacity: 0.6;
  background-image: linear-gradient(#2E2E2E, #A1A1A1);
  position: absolute;
  backdrop-filter: blur(24px);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cent-exclusive-content-banner__label {
  font: 700 12px / 14px Helvetica, sans-serif;
  height: 100%;
  display:  flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
  color: white;
  position: relative;
  z-index: 1;
}

.cent-exclusive-content-banner__icon {
  margin-right: 8px;
}
