.cent-relay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2147483647;
  border: 0;
  padding: 0;
  margin: 0;
}


.collect-button {
  visibility: hidden;
}
.collect-button[data-collect-state='2'],
.collect-button[data-collect-state='3'],
.collect-button[data-collect-state='4'] {
  visibility: visible;
}


.collect-button::before {
  visibility: hidden;
}
.collect-button[data-collect-state='2']::before {
  visibility: visible;
  content: 'Collect';
}
.collect-button[data-collect-state='3']::before {
  visibility: visible;
  content: 'Collecting';
}
.collect-button[data-collect-state='4']::before {
  visibility: visible;
  content: 'Collected';
}
